*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$primary: rgb(15, 86, 194);

header {
    width: 100%;
    display: flex ; 
    background:$primary;
    justify-content: space-around ;
    color: white;
    align-items: center;
}
.menu li{
    display: inline-block;
    margin: 10px;
}
.menu li a{
    font-size: 26px;
    text-decoration: none;
    color: white;
}
.logo_menu { 
    height: 100px;
}